body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {

    color: #333;
    font-weight: 800;
}
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}
.search-container input, .search-container button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 20px;
    background-color: #c5c5c5;
    max-width: 600px;
    width: 100%;
}
.result-container img {
    max-width: 100px;
    margin-bottom: 10px;
}
.result-container p {
    margin: 5px 0;
}